@media all and (max-width: 1240px)
    .navBar, .banner-container, .section-title, .description-title, .what-we-do, .testimonials-container-box, .byEasy
        padding: 0 15px 0 15px
        box-sizing: border-box
    
    .byEasy
        padding: 45px
    
    .navBar
        padding-top: 30px

@media all and (max-width: 1200px)
    .what-we-do-flex
        display: flex
    
    .what-we-do
        flex-direction: column
    
    .what-we-do-box
        margin-bottom: 60px
    
    .testimonials-container-box
        flex-direction: column
        align-items: center
    
    .people-testimonials
        order: 2

    .discription-testimonials
        margin-bottom: 350px
    
    .bottomCenter
        bottom: 90px;

    .leftTop
        right: 25px
    
    .contact-us-contaiter-box
        margin-top: 350px
    
    .navigation-casse
        max-width: 385px
        bottom: 15px