@import "extends/*"
@import "pages/*"

body 
  overflow-x: hidden
  overflow-y: auto
  background: rgba(229, 229, 229, .3)

header
  max-width: 1440px
  width: 100%
  margin: 0 auto

.navBar
  max-width: 1116px
  width: 100%
  margin: 0 auto
  @extend .flex-box-between
  padding-top: 15px

.nav 
  max-width: 660px
  width: 100%
  @extend .flex-box-between
  ul 
    max-width: 420px
    width: 100%
    @extend .flex-box-between
    font-family: "Lato-Bold"
    li a
      color: #333333
      transition: all .4s
      font-size: 16px
      &:hover
        color: #5D5DDD
  button 
    font-size: 16px
    padding: 13px 40px
    @extend .button-blue


.banner-container
  max-width: 1142px
  width: 100%
  margin: 0 auto
  margin-top: 150px
  margin-bottom: 250px
  button
    @extend .button-blue
    font-size: 20px
    padding: 15px 68px
  
.description-title-top
  max-width: 440px
  width: 100%
  @extend .description-title-bold

.description-text
  max-width: 584px
  width: 100%
  font-size: 20px
  color: rgba(38, 36, 72, 0.7)
  font-family: "Lato-Medium"
  line-height: 32px
  margin-top: 20px
  margin-bottom: 55px




.about-contaiter-box
  @extend .elipse-box
  padding: 75px 25px 75px 100px
  border-radius: 250px 0px 0px 250px
  // background-size: 0 100%
  margin-left: auto
  background: #FDB44E
  margin-bottom: 300px

.about-container
  max-width: 1010px
  width: 100%
  @extend .flex-box-between
    
.icon-box
  max-width: 300px
  width: 100%
  background: #fff
  border-radius: 8px
  padding: 30px
  box-sizing: border-box
  box-shadow: 1px 19px 19px rgba(38, 36, 72, 0.09)

.box-title
  color: #262448
  font-size: 18px
  font-family: "Lato-Bold"
  margin-top: 15px
  margin-bottom: 20px

.box-hint
  color: rgba(38, 36, 72, 0.7)
  font-size: 14px
  font-family: "Lato-Medium"
  line-height: 25px

.icon-box.absoluteTop
  position: absolute
  top: -100px
  left: 0

.icon-box.absoluteBottom
  position: absolute
  bottom: -100px
  left: 0

.about-box
  max-width: 580px
  width: 100%
  button
    @extend .button-blue
    background: #fff
    color: #262448
    padding: 13px 64px
    font-size: 16px
    margin-top: 50px

.about-text-title
  @extend .about-text

.description-about-title
  @extend .description-title-bold
  color: #fff
  margin: 25px 0

.description-about-text
  font-size: 18px
  color: #fff
  font-family: "Lato-Medium"
  line-height: 32px
      



.section-title
  color: #5D5DDD
  text-align: center
  font-size: 24px
  font-family: "Lato-Bold"
  text-transform: uppercase
  margin-bottom: 25px

.description-title 
  max-width: 660px
  width: 100%
  margin: 0 auto
  text-align: center
  @extend .description-title-bold

.what-we-do
  max-width: 1142px
  width: 100%
  margin: 0 auto
  @extend .flex-box-between
  margin-top: 85px

.what-we-do-box
  max-width: 320px
  width: 100%
  img
    height: 80px
  h2
    color: #262448
    font-size: 18px
    font-family: "Lato-Bold"
    margin: 15px 0
  p 
    color: rgba(38, 36, 72, 0.7)
    font-size: 18px
    font-family: "Lato-Medium"
    line-height: 28px
  a 
    width: 120px
    font-size: 14px
    color: #5D5DDD
    font-family: "Lato-Bold"
    @extend .flex-box-between
    margin-top: 18px
    &:hover span
        background: #5D5DDD
        box-shadow: 1px 19px 19px rgba(38, 36, 72, 0.09)
    &:hover img
        filter: brightness(1000%)
    span
      padding: 9px 8px
      border-radius: 50%
      img 
        width: 20px
        height: auto
      



.cases-contaiter-box
  position: relative
  padding: 300px 100px 240px 25px
  border-radius: 0 250px 250px 0
  // background-size: 0 100%
  @extend .elipse-box
  justify-content: flex-end
  margin-right: auto
  background-image: linear-gradient(to right, #F75473, #F75473)
  margin-top: 200px
  .cases-box
    max-width: 1240px
    width: 100%
    position: absolute
    top: 80px
    right: -100px
    button
      @extend .button-blue
      background: #fff
      color: #262448
      padding: 12px 36px
      font-size: 16px

.cases-text-title
    @extend .about-text

.cases-text
  max-width: 575px
  width: 100%

.description-cases-title
  @extend .description-title-bold
  color: #fff
  margin: 25px 0
  
.description-cases-text
  font-size: 18px
  color: #fff
  font-family: "Lato-Medium"
  line-height: 32px
    

.navigation-casse
  display: flex
  align-items: center
  justify-content: space-between
  max-width: 485px
  width: 100%
  position: absolute
  bottom: 35px

.slide-box
  display: flex !important
  justify-content: space-between



.testimonials-container-box
    max-width: 1142px
    width: 100%
    margin: 0 auto
    @extend .flex-box-between
    align-items: stretch
    margin-top: 180px

.people-testimonials
  max-width: 490px
  width: 100%
  display: flex
  align-items: center
  justify-content: center
  position: relative
  img
    position: absolute
    border: 2px solid #5D5DDD
    border-radius: 50%
    box-shadow: 1px 19px 19px rgba(38, 36, 72, 0.09)

.img-static
  position: static

.leftTop
  top: 25px
  right: 0
  border: 2px solid #F75473

.rightTop
  top: 75px
  left: 45px
  border: 2px solid #FDB44E

.bottomLeft
  bottom: 140px
  left: 0
  border: 2px solid #F75473

.bottomRight
  bottom: 145px
  right: 30px
  border: 2px solid #5D5DDD

.bottomCenter
  bottom: 0
  margin: 0 auto
  left: 0
  right: 0
  border: 2px solid #FDB44E

.discription-testimonials
  max-width: 560px
  width: 100%
  position: relative

.testimonials-title
  color: #5D5DDD
  font-size: 24px
  font-family: "Lato-Bold"
  text-transform: uppercase

.testimonials-description
  @extend .description-title-bold
  line-height: 60px
  margin-top: 20px
  margin-bottom: 80px

.testimonials-text
  font-size: 18px
  color: rgba(38, 36, 72, 0.7)
  font-family: "Lato-Medium"
  line-height: 32px

.people
  max-width: 232px
  width: 100%
  margin-top: 50px
  @extend .flex-box-between
  img 
    height: 70px
  .name
    font-size: 18px
    color: #5D5DDD
    font-family: "Lato-Bold"
    margin-bottom: 8px
  .descroption
    font-size: 14px
    color: rgba(38, 36, 72, 0.7)
    font-family: "Lato-Medium"

.navigation-arrow
  max-width: 160px
  width: 100%
  position: absolute
  right: 0
  bottom: 5px
  cursor: pointer
  @extend .flex-box-between
  span 
    padding: 30px 15px
    border-radius: 50%
    box-sizing: border-box
    transition: all .3s
    display: flex
    align-items: center
    justify-content: center
    &:hover
      background: #FDB44E
      box-shadow: 1px 19px 19px rgba(38, 36, 72, 0.09)
    &:hover img 
      filter: brightness(1000%)

.navigation-arrow-cases 
  max-width: 160px
  width: 100%
  // position: absolute
  // right: 0
  // bottom: 5px
  cursor: pointer
  @extend .flex-box-between
  span 
    padding: 30px 15px
    border-radius: 50%
    box-sizing: border-box
    transition: all .3s
    display: flex
    align-items: center
    justify-content: center
    img 
      filter: brightness(1000%)
    &:hover
      background: #fff
      box-shadow: 1px 19px 19px rgba(38, 36, 72, 0.09)
    &:hover img 
      filter: brightness(0%)

.slick-initialized .slick-slide
  outline: none

.contact-us-contaiter-box
  @extend .elipse-box
  padding: 80px 25px 80px 100px
  border-radius: 250px 0px 0px 250px
  // background-size: 0 100%
  margin-left: auto
  background-image: linear-gradient(to right, #5D5DDD , #5D5DDD)
  margin-top: 200px
  margin-bottom: 100px

.contacts-container
  max-width: 1010px
  width: 100%
  @extend .flex-box-between

.contacts-box
  max-width: 460px
  width: 100%
  position: relative
  left: -100px

.contact-form
  width: 100%
  background: #fff
  border-radius: 8px
  padding: 50px
  box-sizing: border-box
  box-shadow: 1px 19px 19px rgba(38, 36, 72, 0.09)
  input, textarea
    border-radius: 8px
    border: 2px solid rgba(139, 139, 139, 0.3)
    width: 100%
    box-sizing: border-box
    font-size: 14px
    color: #8B8B8B
    font-family: "Lato-Medium"
    padding-left: 25px
    outline: none
  input
    height: 44px
    margin-bottom: 12px
  textarea
    height: 126px
    padding-top: 20px
  button
    @extend .button-blue
    font-size: 20px
    padding: 15px 84px
    margin: 0 auto
    margin-top: 20px

.about-box
  max-width: 580px
  width: 100%

.about-text-title
  @extend .about-text
  
.description-about-title
  @extend .description-title-bold
  color: #fff
  margin: 25px 0
        
.constacts-icon-box
  max-width: 570px
  width: 100%
  @extend .flex-box-between
  margin-top: 80px
  p
    font-family: "Lato-Medium"
    font-size: 16px
    color: #fff
    margin-top: 10px
    margin-bottom: 18px
  span 
    font-size: 18px
    font-family: "Lato-Bold"
    color: #fff
 



.nav.footer
  max-width: 730px
  width: 100%
  ul 
    max-width: 320px
    width: 100%

.sicial-icon
  max-width: 280px
  width: 100%
  @extend .flex-box-between

.byEasy
  max-width: 1116px
  width: 100%
  margin: 0 auto
  color: rgba(38, 36, 72, 0.7)
  font-size: 16px
  font-family: "Lato-Bold"
  margin-top: 25px
  padding-bottom: 45px
