.features-contaiter-box
    @extend .elipse-box 
    padding: 120px 25px 120px 100px
    border-radius: 250px 0px 0px 250px
    margin-left: auto
    background: #F75473
    margin-bottom: 300px 

.soft-contaiter-box
    @extend .elipse-box 
    position: relative
    padding: 95px 25px 95px 100px
    border-radius: 0 350px 350px 0
    margin-right: auto
    background: #FDB44E
    margin-top: 200px
    justify-content: flex-end

.soft-flex-box
    max-width: 1120px
    width: 100%
    @extend .flex-box-between

.soft-text-box
    max-width: 570px
    width: 100%

.icons-abs
    max-width: 450px
    width: 100%
    position: relative
    right: -45px
    div 
        width: 100%
        @extend .flex-box-between
    .center-icons
        max-width: 370px
        margin: 50px auto

.testimonials-description.portfolio-wd
    max-width: 600px
    width: 100%

.portfolio-container-box
    max-width: 1140px
    width: 100%
    margin:  0 auto
    margin-top: 200px

.slider-flex
    @extend .flex-box-between
    margin-bottom: 40px

.slider-portfolio
    max-width: 900px
    width: 100%
    overflow: hidden

.prev-portfolio, .next-portfolio 
    padding: 30px 15px
    border-radius: 50%
    box-sizing: border-box
    transition: all .3s
    display: flex
    align-items: center
    justify-content: center
    cursor: pointer
    &:hover
      background: #F75473
      box-shadow: 1px 19px 19px rgba(38, 36, 72, 0.09)
    &:hover img 
      filter: brightness(1000%)
    
.portfolio-link
    background: #F75473
    font-size: 20px
    color: #fff
    max-width: 264px
    width: 100%
    height: 54px
    display: block
    display: flex
    align-items: center
    justify-content: center
    border-radius: 100px
    margin: 0 auto
    font-family: "Lato-Bold"

.tabs-our-process
    max-width: 1120px
    width: 100%
    margin: 0 auto
    @extend .flex-box-between
    margin-top: 95px
    align-items: stretch

.description-process
    max-width: 680px
    width: 100%
    img 
        height: 240px

.img-process 
    margin: 0 auto
    display: block
    margin-bottom: 50px

.process-text
    font-size: 18px
    color: rgba(38, 36, 72, 0.7)
    font-family: "Lato-Medium"
    line-height: 32px
    text-align: center
    margin-top: 25px

.tabs-btn-box
    max-width: 300px
    width: 100%
    display: flex
    flex-direction: column
    justify-content: space-between
    a
        max-width: 280px
        width: 100%
        display: block
        color: rgba(38, 36, 72, 0.3)
        font-family: "Lato-Bold"
        font-size: 18px
        text-transform: uppercase
        cursor: pointer
        box-sizing: border-box
        padding: 18px 20px
        border-radius: 8px
        transition: all .4s
        &:hover
            background: #5D5DDD
            color: #fff
        &:hover img 
            transform: scale(1.5, 1.5)
            left: 8px
        &:hover span 
            left: 15px
        span 
            position: relative
            transition: all .4s
            margin-left: 15px
        img 
            position: relative
            top: 2px
            transition: all .5s

.tabs-btn-box .tab-active 
    background: #5D5DDD
    color: #fff
    img 
        transform: scale(1.5, 1.5)
        left: 8px
    span 
        left: 15px