.soft-flex-box.display_block 
    display: block

.features-flex
    @extend .flex-box-between
    margin-top: 50px
    .icon-box
        max-width: 320px

.soft-contaiter-box.web-page
    padding: 80px 25px 80px 100px
    margin-bottom: 150px

.box-icon-container
    max-width: 1142px
    width: 100%
    margin: 0 auto
    .box-hint
        font-size: 18px
    .container-three-box
        margin-top: 95px
        margin-bottom: 80px
        @extend .flex-box-between
    .container-two-box
        @extend .flex-box-between
        max-width: 720px
        width: 100%
        margin: 0 auto
    
.big-icon-box
    position: relative
    max-width: 320px
    width: 100%
    background: #fff
    border-radius: 8px
    padding: 30px
    box-sizing: border-box
    box-shadow: 1px 19px 19px rgba(38, 36, 72, 0.09)

.red-list
    background: #F75473
.yellow-list
    background: #FDB44E
.blue-list
    background: #5D5DDD

.asd_item
    position: absolute
    top: 0
    right: 0
    width: 60px
    height: 60px
    border-radius: 0px 8px 0px 60px
    font-family: "Lato-Bold"
    color: #fff
    font-size: 24px
    display: flex
    align-items: center
    justify-content: center
    padding: 0px 0px 0px 10px
    box-sizing: border-box

.soft-contaiter-box.web_pg
    margin-left: auto
    background: #F75473
    border-radius: 350px 0 0 350px
    margin-right: 0
    padding: 95px 100px 95px 25px
    .icons-abs
        right: 45px