.flex-box-between
	display: flex
	justify-content: space-between
	align-items: center
	box-sizing: border-box

.description-title-bold
	font-size: 36px
	color: #262448
	font-family: "Lato-Bold"
	line-height: 50px

.button-blue
	background: #5D5DDD
	border: none
	color: #fff
	font-family: "Lato-Bold"
	-webkit-box-sizing: border-box
	box-sizing: border-box
	-webkit-border-radius: 100px
	border-radius: 100px
	cursor: pointer

.elipse-box
	position: relative 
	width: 80%
	box-sizing: border-box
	transition: background 1s 0.1s cubic-bezier(0.3, 0.3, 0, 1)
	transition-duration: 0s
	transition-delay: 0s
	background-repeat: no-repeat
	display: flex
	justify-content: flex-start

.about-text
	font-family: "Lato-Bold"
	font-size: 24px
	color: #fff


@media all and (max-width: 1600px)
	.elipse-box
        width: 85%

@media all and (max-width: 1440px)
    .elipse-box
        width: 90%

@media all and (max-width: 1280px)
    .elipse-box
        width: 95%

@media all and (max-width: 1200px)
	.description-title-bold
		font-size: 34px